body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.login-box-outer {
    max-width: 20%;
    padding: 60px;
    position: relative;
    z-index: 99;
    margin-left: 50%;
    margin-top: 50px;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, .7);
}

.login-box-outer h1{
    font-size: 32px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-box-outer input {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing: border-box;
}

.input-wrap {
    margin-bottom: 25px;
}
.input-wrap:last-child{
    margin-bottom: 5px;
}
.login-box-outer input::placeholder,
.login-box-outer input::-webkit-placeholder {
    color: #fff;
    opacity: 1;
}

.input-wrap button {
    height: 50px;
    width: 100%;
    background: #e50914;
    border: 1px solid #e50914;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.remember-help {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.remember-help input {
    width: 25px;
    height: 25px;
}

.remember {
    display: flex;
    align-items: center;
}


.grey{
    color: rgb(128, 128, 128);
}


.footer {
    max-width: 70%;
    margin: auto;
    margin-top: 5%;
    overflow: auto;
    align-items: center;
}

.footer,
.footer a{
    color: #999999;
    font-size: 0.9rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li{
    line-height: 2rem;
    list-style: none;
}

.footer p{
    font-weight: 200;
    color: #999999;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.footer a{
    text-decoration: none;
}


@media (max-width: 798px) {
    .login-box-outer {
        max-width: 40%;
    }

    .login-box-outer.new{
        font-size: 4px;
    }
}